
.cell {
    border: 1px solid grey;
    min-width: 10px;
    min-height: 20px;
    display: inline-block;
    justify-content: space-evenly;
    margin-right: 2px;
}

#gridContainer {
    width: 960px;
}

.cell-hover {
    background-color: black;
}
